<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>


<h1>Mortal Combat</h1>
<h2>Pick two superheroes by clicking on them and get ready to fight !</h2>

<body>
  <hr/>
  
   <div class="container">
    <div class="row">
      <div *ngFor="let hero of heroes; let i=index">
        <div *ngIf="i < 21">
          <div class="col-md-3 mx-auto">
            <div class="card" style="width: 18rem;">
              <img src={{hero.images.sm}} (click)="chooseHero(i)"> 
              <div class="text">
                <h4>{{hero.name}}</h4> Intel: {{hero.powerstats.intelligence}} Strength: {{hero.powerstats.strength}} Speed:
                {{hero.powerstats.speed}} Durability: {{hero.powerstats.durability}} Power: {{hero.powerstats.power}} Combat:
                {{hero.powerstats.combat}}
              </div>
              </div>
            </div>
          </div>
        
      </div>
    </div>
  </div>


</body>
